<div class="flex-container">
    <div class="container-card">
        <h4>Stocks search</h4>
        <br>
        <hr>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>                    
                <th scope="col">Symbol</th>
                <th scope="col">Company Name</th>
                <th scope="col">Type</th>
                <th scope="col">Region</th>
                <th scope="col">&nbsp;</th>    
            </tr>
            </thead>
            <tbody>      
            <% for(i=0;i<result.bestMatches.length;i++) {%>
                <% if(result.bestMatches[i]["4. region"] == "United States") {%>
                <tr>            
                    <td><a href="/company/<%=result.bestMatches[i]["1. symbol"]%>"><small><%=result.bestMatches[i]["1. symbol"]%></small></a></th>
                    <td><small><a href="/company/<%=result.bestMatches[i]["1. symbol"]%>"><%=result.bestMatches[i]["2. name"]%></a></small></td>
                    <td><small><%=result.bestMatches[i]["3. type"]%></small></td>
                    <td><small><%=result.bestMatches[i]["4. region"]%></small></td>
                    <td><small><a href="/portfolio/to?symbol=<%=result.bestMatches[i]["1. symbol"]%>&name=<%=result.bestMatches[i]["2. name"]%>">Add to Portfolio</a> |
                        <a href="/watchlist/addstock?symbol=<%=result.bestMatches[i]["1. symbol"]%>&name=<%=result.bestMatches[i]["2. name"]%>">⭐ Watchlist</a></small></td>                
                </tr>
                <% }%>
            <%}%>
            </tbody>
        </table>
    </div>

</div>
