<h6><p><%=message%></p></h6>
<div class="flex-container">
<!-- start flex container -->

<div class="card-portfolio">
  <h5>Watchlist</h5>
    <br>
    <hr>
    <br>
    <%if(watchlist) {%>
      <table>
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col">Stock</th>                 
                  <th scope="col">Current Price</th>                
                  <th scope="col">Day Change</th>
                  <th scope="col">Day Change(%)</th>
                  <th scope="col">&nbsp;</th>
                  
              </tr>
          </thead>
          <tbody>                
           <% for(let i = 0; i < watchlist.length; i++){ %> 
              <tr>
                <td>
                  <form action="/watchlist/<%=watchlist[i].ticker%>?_method=DELETE" method="POST">
                      <input type="hidden" name="symbol" value="<%=watchlist[i].ticker%>">
                      <button type="submit" class="btn-link">Remove</button>
                    </form>
                </td>
                  <td><a href="/company/<%= watchlist[i].ticker%>"><p></p><strong><%= watchlist[i].ticker%></strong></p><p><small><%= watchlist[i].name%></small></p></a>
                  </td>                    
                  <td class="align-right"><%= watchlist[i].price%></td>

                  <% let dayChangePercent = (watchlist[i].day_change / watchlist[i].price) * 100 %> 
                  <td class="align-right"><% if(watchlist[i].day_change < 0){ %>
                      <p class="danger">
                    <%}else{%>
                      <p class="success">
                    <%}%>                    
                    <%= watchlist[i].day_change%></p></td>
                  <td class="align-right"><% if(dayChangePercent < 0){ %>
                      <p class="danger">
                    <%}else{%>
                      <p class="success">
                    <%}%>                    
                      <%= dayChangePercent.toFixed(3)%></p></td>                  
                  
                  <td>
                    <p class="btn-link"><a href="/portfolio/to?symbol=<%=watchlist[i].ticker%>&name=<%=watchlist[i].name%>" >➕ Portolio</a></p>
                  </td>
              </tr>
           <% } %> 
          </tbody>
      </table>
  <%}%>
</div>




<!-- end flex container -->
</div>

  