<div class="container-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Watchlist</h4>
      <h6 class="card-subtitle mb-2 text-muted"><p class="text-warning"><%=message%></p></h6>

    <%if(watchlist) {%>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                   
                    <th scope="col" style="text-align: right;"><small>Current Price</small></th>                
                    <th scope="col" style="text-align: right;"><small>Day Change</small></th>
                    <th scope="col" style="text-align: right;"><small>Day Change(%)</small></th>
                    <th scope="col" style="text-align: right;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>                
             <% watchlist.stonks.forEach(e=>{ %> 
                <tr>
                    <td><a href="/company/<%= e.symbol%>"><small><strong><%= e.symbol%></strong></small><br /><small><small><%= e.name%></small></small></a>
                    </td>                    
                    <td style="text-align: right;"><small><%= e.quotes.c%></small></td>
                    <td style="text-align: right;"><% if(e.quotes.d < 0){ %>
                        <p class="badge bg-danger">
                      <%}else{%>
                        <p class="badge bg-success">
                      <%}%>
                      <small>
                      <%= e.quotes.d%></small></p></td>
                    <td style="text-align: right;"><% if(e.quotes.dp < 0){ %>
                        <p class="badge bg-danger">
                      <%}else{%>
                        <p class="badge bg-success">
                      <%}%>
                      <small>
                        <%= e.quotes.dp%></small></p></td>
                    <td style="text-align: right;"><p class="badge rounded-pill bg-success"><a href="/portfolio/to?symbol=<%=e.symbol%>&name=<%=e.name%>" >Add to portolio</a>
                    <form action="/watchlist/<%=e.symbol%>?_method=DELETE" method="POST">
                      <input type="hidden" name="symbol" value="<%=e.symbol%>">
                      <button type="submit" class="badge rounded-pill bg-danger">➖Remove from watchlist</button>
                    </form>
                    </p></td>
                </tr>
             <% }) %> 
            </tbody>
        </table>
    <%}%>
      </div>
      </div>
  </div>
  