<div><h5>
    <% if(user){ %>
        Wecome back,  <%=user.firstname%>!
    <% }else{ %> 
        Hello, guest!
    <% } %> 
    </h5>
</div>
<marquee behavior="scroll" direction="left" class="ticker"> 
    <%if(user) { %>
    <% for(let x = 0; x < quotes.length; x++) { %> 
        <%=quotes[x].ticker%> : <%=quotes[x].price%>(<%=quotes[x].day_change%>) | 
    <% } %>     
    <% } %>
    <%if(crypto) {%>
        <% for(let p = 0; p< crypto.length;p++){ %> 
            <%=crypto[p][0].symbol%> : <%=crypto[p][0].price%> (<%=crypto[p][0].change_percent%>) | 
        <%}%>
    <%}%>
    <%if(news){%>
    <%for(let y = 0; y < news.length; y++) {%>
        <%=news[y].title%>
    <% } %>
    <%}%>
</marquee>

<div class="flex-container">
    <!-- start flex container -->        
    <div class="card-news">
        <h4>Latest News</h4>        
        <br>
        <hr>
        <br>
        <table>
        <%for(let i = 0; i < news.length; i++) {%>
        <tr>
            <td><img src="<%=news[i].image_url%>" alt="" class="thumbnail"></td>
            <td><p class="sub-header"><a href="<%=news[i].url%>" target="_blank"><%=news[i].title%></a></p>
                <p class="sub-header-muted"><%=news[i].description%></p>
                <% let newsDate = news[i].published_at %> 
                <% let dateObj = new Date(newsDate) %> 
                <% formattedDate = dateObj.toLocaleString() %> 
                <p class="sub-header-muted"><small>Published : <%=formattedDate%> | Source : <%=news[i].source%> </small></p></td>
        </tr>
        <% } %>
        </table>        
    </div>    

    <%if(user) {%>
        <div class="card-quote">
            <h5><%=cardHeader%></h5>
            <br>
            <hr>
            <br>
            <table style="width: 100%">            
            <% for(let j = 0; j< quotes.length;j++){ %> 
                <tr>
                    <td class="sub-header-muted"><a href="/company/<%=quotes[j].ticker%>"><%=quotes[j].ticker%></a></td>
                    <td class="align-right sub-header-muted"><%=quotes[j].price.toFixed(2)%></td>
                    <% if(quotes[j].day_change < 0) {%> 
                        <td class="align-right sub-header-muted danger">
                    <% } else { %> 
                        <td class="align-right sub-header-muted success">
                    <% } %> 
                    <%=quotes[j].day_change.toFixed(2)%></td>
                </tr>
            <%}%>
        </table>
    </div>    
    <% } %> 
   
    <%if(crypto) {%>
        <div class="card-quote">
            <h5>Crypto </h5>
            <br>
            <hr>
            <br>
            <table style="width: 100%">            
            <% for(let p = 0; p< crypto.length;p++){ %> 
                <tr>
                    <td class="sub-header-muted"><%=crypto[p][0].symbol%></a></td>
                    <td class="align-right sub-header-muted"><%=crypto[p][0].price.toFixed(2)%></td>
                    <% if(crypto[p][0].change_percent < 0) {%> 
                        <td class="align-right sub-header-muted danger">
                    <% } else { %> 
                        <td class="align-right sub-header-muted success">
                    <% } %> 
                    <%=crypto[p][0].change_percent.toFixed(2)%></td>
                </tr>
            <%}%>
        </table>
    </div>    
    <% } %>     
    <!-- end flex container -->
</div>
