<div class="container-full">
  <legend>Portfolio</legend>
  <p class="text-warning"></p>

  <div><%=portfolio.portfolioname%></div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Current Price</th>
        <th scope="col">Total Value</th>
        <th scope="col">Change</th>
        <th scope="col">% Change</th>
      </tr>
    </thead>
    <tbody>
      <% const dollarUSLocale = new Intl.NumberFormat('en-US',{style:'currency',
      currency:'USD',minimumFractionDigits:2}) %> <%
      portfolio.stonks.forEach(element => { %>
      <tr>
        <td scope="row">
          <p><strong><%=element.symbol%></strong><br />
          <small><%=element.stonkName%></small></p>
        </td>
        <td>
          <p>
            <strong><%=dollarUSLocale.format(element.quotes.c)%></strong><br />
            <small>Qty : <%=(element.qty)%></small>
          </p>
        </td>
        <td>
          <p>
            <strong><%=dollarUSLocale.format(element.quotes.c * element.qty)%></strong><br />            
          </p>
        </td>
        <td>
          <% if(element.quotes.d < 0){ %>
            <p class="badge bg-danger">
          <%}else{%>
            <p class="badge bg-success">
          <%}%>
          <%=element.quotes.d%></p>
        </td>
        <td>
          <% if(element.quotes.dp < 0){ %>
            <p class="badge bg-danger">
          <%}else{%>
            <p class="badge bg-success">
          <%}%>
          <%=element.quotes.dp%></p>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
