<h5><%=message%></h5>
<div class="flex-container">
  <!-- start of flex container -->
  <div class="card-portfolio">
    <h5>Portfolio : <%=portfolio.portfolioname%></h5>
    <br>
    <hr>
    <br>
    
  <table style="width:100%;">
    <thead>
      <tr>
        <th class="align-left">Symbol</th>
        <th class="align-right">Value/Cost</th>
        <th class="align-right">Total Value</th>
        <th class="align-right"v>All Time Return</th>
        <th class="align-right">Day Change</th>
        <th class="align-right">Day Change(%)</th>
      </tr>
    </thead>
    <tbody>
      <% let grandTotal = 0 %>      
      <% let grandReturnTotal = 0 %>
      <% const dollarUSLocale = new Intl.NumberFormat('en-US',{style:'currency',currency:'USD',minimumFractionDigits:2}) %> 
      <% portfolio.stonks.forEach(element => { %>
      <% let totalValue = element.quotes.c * element.qty %>
      <% let totalReturn = totalValue - (element.qty * element.averageCost) %>
      <% grandTotal += totalValue %>
      <% grandReturnTotal += totalReturn %>
      <% let eleClass="success"%> 
      <% if(totalReturn < 0) {%> 
      <% eleClass = "danger" %>       
      <%}%>
      <tr>
        <td>
          <p class="<%=eleClass%>"><a href="/company/<%=element.symbol%>"><%=element.symbol%><br />
          <small><%=element.stonkName%></small></a></p>
        </td>
        <td class="align-right">
          <p>
            <%=dollarUSLocale.format(element.quotes.c)%><br />
            <small><%=(element.qty)%> @ <%=dollarUSLocale.format(element.averageCost)%></small>
          </p>
        </td>
        <td class="align-right">
          <p>            
            <%=dollarUSLocale.format(totalValue)%>          
          </p>
        </td>
        <td class="align-right">
          <p class="<%=eleClass%>">
            <%=dollarUSLocale.format(totalReturn)%>          
          </p>
        </td>
        <td class="align-right">          
          <% if(element.quotes.d < 0){ %>
            <p class="danger">
          <%}else{%>
            <p class="success">
          <%}%>          
          <%=element.quotes.d%>          
          </p>
        </td>
        <td class="align-right">
          <% if(element.quotes.dp < 0){ %>
            <p class="danger">
          <%}else{%>
            <p class="success">
          <%}%>          
          <%=element.quotes.dp%></p>
        </td>
      </tr>
      <% }) %>
      <tr>
        <td scope="row">&nbsp;</td>
        <td class="align-right"><hr >&nbsp;<p><strong>Totals</strong></p></td>
        <td class="align-right"><hr >&nbsp;<p><strong><%=dollarUSLocale.format(grandTotal)%></strong></p></td>
        <td class="align-right">
          <hr >&nbsp;
          <% if(grandReturnTotal < 0) {%> 
            <p class="danger">
          <% } else { %> 
            <p class="success">
              <%}%>
              <strong><%=dollarUSLocale.format(grandReturnTotal)%></strong></p></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- end of flex container -->
</div>
     
