<div class="container-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Portfolio</h4>
      <h6 class="card-subtitle mb-2 text-muted"><p class="text-warning"><%=message%></p></h6>

  <div><%=portfolio.portfolioname%></div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Current Price/Cost</th>
        <th scope="col">Total Value</th>
        <th scope="col">All Time Return</th>
        <th scope="col">Day Change</th>
        <th scope="col">Day Change(%)</th>
      </tr>
    </thead>
    <tbody>
      <% let grandTotal = 0 %>      
      <% let grandReturnTotal = 0 %>
      <% const dollarUSLocale = new Intl.NumberFormat('en-US',{style:'currency',currency:'USD',minimumFractionDigits:2}) %> 
      <% portfolio.stonks.forEach(element => { %>
      <% let totalValue = element.quotes.c * element.qty %>
      <% let totalReturn = totalValue - (element.qty * element.averageCost) %>
      <% grandTotal += totalValue %>
      <% grandReturnTotal += totalReturn %>
      <tr>
        <td scope="row">
          <p><a href="/company/<%=element.symbol%>"><strong><%=element.symbol%></strong><br />
          <small><%=element.stonkName%></small></a></p>
        </td>
        <td>
          <p>
            <strong><%=dollarUSLocale.format(element.quotes.c)%></strong><br />
            <small><%=(element.qty)%> @ <%=dollarUSLocale.format(element.averageCost)%></small>
          </p>
        </td>
        <td>
          <p>
            <strong><%=dollarUSLocale.format(totalValue)%></strong><br />            
          </p>
        </td>
        <td>
          <p>
            
            <strong><%=dollarUSLocale.format(totalReturn)%></strong><br />            
          </p>
        </td>
        <td>
          <% if(element.quotes.d < 0){ %>
            <p class="badge bg-danger">
          <%}else{%>
            <p class="badge bg-success">
          <%}%>
          <%=element.quotes.d%></p>
        </td>
        <td>
          <% if(element.quotes.dp < 0){ %>
            <p class="badge bg-danger">
          <%}else{%>
            <p class="badge bg-success">
          <%}%>
          <%=element.quotes.dp%></p>
        </td>
      </tr>
      <% }) %>
      <tr>
        <th scope="row">Totals</th>
        <td>&nbsp;</td>
        <td><%=dollarUSLocale.format(grandTotal)%></td>
        <td><%=dollarUSLocale.format(grandReturnTotal)%></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>