<div class="flex-container">    
    <%if(quote) {%>
    <% let tradeDate = quote[0].last_trade_time %>   
    <% let objDate = new Date(tradeDate)%>
    <% let dispDate = objDate.toLocaleString() %> 
    <div class="flex-container">        
    <div class="card-chart">                    
        <h2><%=quote[0].ticker%></h2>
        <h4><%=quote[0].name%> </h4>
        <br>
           <canvas id="myChart" width="400" height="150"></canvas>
        <p class="sub-header-muted"><small>Last trade : <%=dispDate%> EST</small></p>
           <br>
        
        
        <h4>Real Time Data</h4>
        <p class="header-muted">Listing exchange </p>                    
        <p class="sub-header-muted"><%=quote[0].exchange_long%> (<%=quote[0].currency%>)</p>               
        <p class="sub-header-muted"><small>
            <% if(isWatchList==false) {%> 
            <a href="/watchlist/addstock?symbol=<%=quote[0].ticker%>&name=<%=quote[0].name%>&o=prof" class="btn-link">➕Add to watchlist</a>            
            <% } else { %>
                <form action="/company/<%=quote[0].ticker%>?_method=DELETE" method="POST">
                    <input type="hidden" name="symbol" value="<%=quote[0].ticker%>">
                    <button type="submit" class="btn-link">➖Remove from watchlist</button>
                </form>
            <% } %>
        </small></p>
        <p class="sub-header-muted"><small><a href="/portfolio/to?symbol=<%=quote[0].ticker%>&name=<%=quote[0].name%>&o=prof" class="btn-link" >&nbsp; ➕ Portolio</a></small></p>
        <br>
        <hr><br />               
        <p class="header-muted">Price</p>                    
        <p class="sub-header-muted"><%=quote[0].price%></p> 
        <p class="header-muted">Day high </p>                    
        <p class="sub-header-muted"><%=quote[0].day_high%></p>     
        <p class="header-muted">Day low</p>                    
        <p class="sub-header-muted"><%=quote[0].day_low%></p>     
        <p class="header-muted">Open</p>                    
        <p class="sub-header-muted"><%=quote[0].day_open%></p>     
        <p class="header-muted">52-week high</p>                    
        <p class="sub-header-muted"><%=quote[0]['52_week_high']%></p>     
        <p class="header-muted">52-week low</p>                    
        <p class="sub-header-muted"><%=quote[0]['52_week_low']%></p>     
        <p class="header-muted">Volume</p>                    
        <p class="sub-header-muted"><%=quote[0].volume%></p>     
        <p class="header-muted">Day change</p>                                             
        <% if(quote[0].day_change < 0) { %> 
        <p class="sub-header-muted danger">      
        <% }else{ %> 
            <p class="sub-header-muted">
        <% } %> 
        <%=quote[0].day_change%></p>
    </div>

    <div class="card">
        <h4><%=quote[0].name%> </h4>
        <br>                  
        <hr>               
        <br >
            <p class="header-muted">Address</p>                    
            <p class="sub-header-muted"><%=profile[0].address1%>, <%=profile[0].city%>, <%=profile[0].state%>, <%=profile[0].zip%>, <%=profile[0].country%></p> 
            <p class="header-muted">Phone</p>                    
            <p class="sub-header-muted"><%=profile[0].phone%></p> 
            <p class="header-muted">Website</p>                    
            <p class="sub-header-muted"><%=profile[0].website%></p>
            <p class="header-muted">Industry</p>                    
            <p class="sub-header-muted"><%=profile[0].industry%></p>
            <p class="header-muted">Sector</p>                    
            <p class="sub-header-muted"><%=profile[0].sector%></p>
            <p class="header-muted">Employees</p>                    
            <p class="sub-header-muted"><%=profile[0].full_time_employees%></p>
            <p class="header-muted">About</p>                    
            <p class="sub-header-muted"><%=profile[0].description%></p>
    </div>
    
    <div class="card">
        <h4>Latest News for <%=quote[0].ticker%></h4>        
        <br>
        <hr>
        <br>
        <%for(let i = 0; i < news.length; i++) {%>
            <p class="sub-header"><a href="<%=news[i].url%>" target="_blank"><%=news[i].title%></a></p>
            <p class="sub-header-muted"><%=news[i].description%></p>
            <% let newsDate = news[i].published_at %> 
            <% let dateObj = new Date(newsDate) %> 
            <% formattedDate = dateObj.toLocaleString() %> 
            <p class="sub-header-muted"><small>Source : <%=news[i].source%> Published : <%=formattedDate%></small></p>            
        <% } %>         
    </div>

    
    <%} else {%>  
    <div class="card">
        <h5><%=message%></h5>
        <br>
        <br>
        <br>        
    </div>   
    <%}%>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
  
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%- JSON.stringify(label) %>,
            datasets: [{
                label: <%- JSON.stringify(symbol) %>,
                data: <%- JSON.stringify(jsonPrice) %>,
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1,
                tension: 0.1
            }]
        },
        options: {
            animation: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
  </script>
