<marquee behavior="scroll" direction="left" class="ticker"> 
  <% if(quotes) {%>
    <% for(let x = 0; x < quotes.length; x++) { %> 
      <%=quotes[x].ticker%> : <%=quotes[x].price%>(<%=quotes[x].day_change%>) | 
    <%}%>     
  <%}%>
  <%if(crypto) {%>
      <% for(let p = 0; p< crypto.length;p++){ %> 
          <%=crypto[p][0].symbol%> : <%=crypto[p][0].price%> (<%=crypto[p][0].change_percent%>) | 
      <%}%>
  <%}%>
</marquee>

<div class="flex-container">
  <div class="card-news-full">
    <legend>News</legend>
    <hr />
    <br />
    <p class="text-warning"><%=message%></p>
    <%if(news.length>0){%> <% news.forEach(element => { %>
    <p class="sub-header">
      <img src="<%=element.image%>" class="news-thumbnail" />
    </p>
    <p class="sub-header"><%=element.category.toUpperCase()%></p>
    <a href="<%=element.url%>" target="_blank">
      <h5><%=element.headline%></h5></a
    >
    <p class="sub-header-muted"><%=element.summary%></p>
    <% let unix_timestamp = element.datetime %> <%let dateObj = new
    Date(unix_timestamp * 1000);%> <%let formattedDateTime =
    dateObj.toLocaleString();%>
    <p class="sub-header-muted">
      <small
        >Published : <%=formattedDateTime%> Source : <%=element.source%>
        <%if(element.related.length >0) {%>Tags : <%=element.related%>
        <%}%></small
      >
    </p>
    <br>
    <hr>
    <br>
    <% }) %> <%}%>
  </div>
</div>

